.table-view {
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 7px 7px;
    -fx-border-radius: 0 0 7px 7px;
    -fx-background-insets: 0 0 1 0;
}

/* Awkward Selectors */
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

/* Global header background */
.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom, #D9E0A2, #FFF8D6);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0 0 5px 0;
}

/* Individual Column Headers */
.table-view .column-header {
    -fx-background-color: transparent;
}

/* Cells and Rows */
.table-view .table-cell {
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
    -fx-text-fill: #4A3727;
}

.table-row-cell:hover {
    -fx-background-color: #B07C3B;
    -fx-text-background-color: #B07C3B;
}

.table-row-cell:odd {
    -fx-background-color: #D9E0A2;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:even {
    -fx-background-color: #FFF8D6;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

/* Scrollbars */
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb {
    -fx-background-color:  linear-gradient(to bottom, #D9E0A2, #FFF8D6);
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #D9E0A2, #FFF8D6);
}

.table-row-cell:selected {
    -fx-background-color: #B07C3B; /* Change background color on selection */
    -fx-text-fill: #B07C3B; /* Change text color on selection */
}

/* Value-specific Styling */
.table-row-cell:hover {
    -fx-background-color: #4A3727;
    -fx-background-radius: 15px;
}
